body {
  background-color: black;
  box-sizing: border-box;
  font-size: 62.5%;
}
h1 {
  color: black;
  background-color: white;
  text-align: center;
  padding: 7rem;
  margin: 0;
  font-size: 11rem;
  font-family: "Noto Sans Display", sans-serif;
}
h2 {
  box-sizing: content-box;
  border: solid #5b6dcd 1rem;
  color: white;
  font-size: 2rem;
  width: 36rem;
  height: 36rem;
  margin-left: 4rem;
  margin-top: 1rem;
}
.row1 {
  display: flex;
  flex-direction: row;
}
.row2 {
  display: flex;
  flex-direction: row;
}
.row3 {
  display: flex;
  flex-direction: row;
}
.src {
  width: 32rem;
  height: 32rem;
  margin-left: -34.5rem;
  margin-top: 4rem;
}
