body {
  background-color: black;
  box-sizing: border-box;
  font-size: 62.5%;
}
h1 {
  color: black;
  background-color: white;
  text-align: center;
  padding: 7rem;
  margin: 0;
  font-size: 11rem;
  font-family: "Noto Sans Display", sans-serif;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.row3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.imgincard {
  box-sizing: content-box;
  border: solid white 0.25rem;
  box-shadow: 8px 10px 15px white;
  width: 30rem;
  height: 30rem;
  margin-left: 1rem;
  margin-top: 4rem;
}
.card-img {
  height: 24rem;
  width: 30rem;
  margin-top: -2.26rem;
}
.cardheader {
  color: white;
  font-family: "Gemunu Libre", sans-serif;
 font-size: 3rem;
text-align: center;